@font-face {
	font-family: "sans";
	src: url('/fonts/sans-bold.woff') format('woff'),
		url('/fonts/sans-bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "sans";
	src: url('/fonts/sans-regular.woff') format('woff'),
		url('/fonts/sans-regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "mono";
	src: url('/fonts/mono-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}