.loading {
	@apply transition-opacity duration-1000 ease-in-out;
}

.loading.-transitionsComplete {
	@apply opacity-0;
}

.loading__wrapper {
	@apply absolute inset-0 flex items-center justify-center;
}

.loading__omega {
	@apply absolute inset-y-0 right-0 w-1/2 bg-slate-night;
}

.loading__alpha {
	@apply absolute inset-y-0 left-0 w-1/2 bg-slate-night;
}

.loading__logos {
	@apply absolute top-1/2 left-full w-[114px] h-[90px] -translate-x-1/2 -translate-y-1/2;
}

.loading__logoClipper {
	@apply absolute inset-0 overflow-hidden -translate-x-full transition-transform ease-in-out duration-[3s];
	/* animation: unclipClipper 2s ease-in-out forwards; */
}

.loading__logoClipper__logo {
	@apply absolute min-w-[114px] translate-x-full transition-transform ease-in-out duration-[3s];
	/* animation: unclipLogo 2s ease-in-out forwards; */
}

.loading.-loaded .loading__logoClipper,
.loading.-loaded .loading__logoClipper__logo {
	transition-duration: 325ms;
	transform: translateX(0) !important;
}

/* .loading.-loaded .loading__logoClipper,
.loading.-loaded .loading__logoClipper__logo {
	transform: translateX(0) !important;
} */

@keyframes unclipClipper {
	0% {
		transform: translateX(-100%);
	}
	30% {
		transform: translateX(-55%);
	}
	50% {
		transform: translateX(-43%);
	}
	75%,
	100% {
		transform: translateX(-29%);
	}
}

@keyframes unclipLogo {
	0% {
		transform: translateX(100%);
	}
	30% {
		transform: translateX(55%);
	}
	50% {
		transform: translateX(43%);
	}
	75%,
	100% {
		transform: translateX(29%);
	}
}
