.loading {
	@apply absolute inset-0 z-20 transition-opacity duration-1000 ease-in-out;
}

.loading.-loaded {
	@apply pointer-events-none;
}

.loading__wrapper {
	@apply absolute inset-0 flex items-center justify-center;
}

.loading__alpha,
.loading__omega {
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.loading__omega {
	@apply absolute inset-y-0 right-0 w-1/2 bg-slate-night origin-right transition-transform duration-1000;
}

.loading__alpha {
	@apply absolute inset-y-0 left-0 w-1/2 bg-slate-night origin-left transition-transform duration-1000 delay-100;
}

.loading.-transitionsComplete .loading__omega {
	@apply scale-x-0 skew-x-0;
}

.loading.-transitionsComplete .loading__alpha {
	@apply -scale-x-0 skew-x-0;
}

.loading__logos {
	@apply absolute top-1/2 left-1/2 w-[114px] h-[90px] -translate-x-1/2 -translate-y-1/2 transition-opacity duration-500 ease-in-out;
}

.loading__logoClipper {
	@apply absolute inset-0 overflow-hidden -translate-x-full transition-transform ease-in-out duration-[1.5s];
}

.loading__logoClipper__logo {
	@apply absolute min-w-[114px] translate-x-full transition-transform ease-in-out duration-[1.5s];
}

.loading.-loaded .loading__logoClipper,
.loading.-loaded .loading__logoClipper__logo {
	transition-duration: 325ms;
	transform: translateX(0) !important;
}

.loading.-transitionsComplete .loading__logos {
	opacity: 0;
}
